parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$assignment of function putenv expects string, array\|false given\.$#'
			identifier: argument.type
			count: 1
			path: includes/env.php

		-
			message: '#^Method UserRepository\:\:hydrater\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: models/UserRepository.php

		-
			message: '#^Offset 0 does not exist on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: models/UserRepository.php

		-
			message: '#^Offset 1 does not exist on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: models/UserRepository.php

		-
			message: '#^Offset 2 does not exist on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: models/UserRepository.php

		-
			message: '#^Parameter \#1 \$id of class User constructor expects int, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: models/UserRepository.php
